player-connection-mode=Listen
player-connection-guid=3916147629
player-connection-debug=1
player-connection-project-name=RogueLike
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.45
profiler-enable=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
